@using Web_CDTT_NguyenMinhDat.Models.ViewModels
@model AppUserModel
@{
    ViewData["Title"] = "Login";
}
<form class="register-form" asp-action="SendMailForgotPass" asp-controller="Account">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="register-flex-column">
        <label>Email</label>
    </div>
    <div class="register-inputForm">
        <svg height="60" viewBox="0 -9 32 32" width="40" xmlns="http://www.w3.org/2000/svg">
            <g id="Layer_3" data-name="Layer 3">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"></path>
            </g>
        </svg>
        <input asp-for="Email" class="register-input" placeholder="Enter your Name" />
        <span asp-validation-for="Email" class="text-danger" placeholder="Enter your Name" />
    </div>

    <button class="register-button-submit">SendMail</button>
   
    
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
