<div class="d-flex  vh-100 text-center">
    <div class="mt-10 p-5">
        <h3>This page is 404 not found</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI6YsVUwVHTxCACtyXHRRqJeGGYSZfig3vzQ&s" alt="404 Image" />
    </div>
</div>
